<link href="enterpage.css" rel="stylesheet">
<link href="bootstrap.css" rel="stylesheet">

{{#partial "content"}}
    <form method="post" action="/sightingsendangered">
        <h1>Normal Animal Sighting</h1>
        <input placeholder="Location" id="location" type="text" >
        <div class="form-group">
            <select class="form-control" name="location">
                <option selected disabled>Choose a location</option>
                {{#each location}}
                    <option class="dropdown-item" value={{locationid}} name=locationid>{{place}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <select class="form-control" name="endangered">
                <option selected disabled>Choose an Animal</option>
                {{#each animals}}
                    <option class="dropdown-item" value={{en_id}} name="normalid" >{{name}}</option>
                {{/each}}

            </select>
        </div>

        <div class="form-group">
            <select class="form-control" name="age">
                <option selected disabled>Choose an Age</option>
                <option class="dropdown-item" value >Newborn</option>
                <option class="dropdown-item" value >Juvenile</option>
                <option class="dropdown-item" value >Adult</option>
                <option class="dropdown-item" value >Old</option>
                <option class="dropdown-item" value >Not Sure</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="health">
                <option selected>Choose your Health Status</option>
                <option class="dropdown-item" value >Fine</option>
                <option class="dropdown-item" value >Unwell</option>
                <option class="dropdown-item" value >Not Sure</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="rangers">
                <option selected disabled>Choose your Ranger Name</option>
                {{#each rangers}}
                    <option class="dropdown-item" value={{rangerid}} name="rangerid">{{name}}</option>
                {{/each}}
            </select>
        </div>





        <button>Submit</button>
    </form>
    <div class="jumbotron text-xs-center">
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="/newnormalanimal" role="button">Add New Normal Animal</a>
            <a class="btn btn-primary btn-sm" href="/newendangered" role="button">Add New Endangared</a>
        </p>
    </div>
    <a class="follow" href="https://twitter.com/mildrenben" target="_blank"><i class="fa fa-twitter"></i>Follow Me</a>


{{/partial}}
{{> layout.hbs}}
